<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hunger Apps</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <a href="#main" id="skip" class="skip">Skip to Content</a>
    <header>
        <a href="/" class="logo" data-scroll>Hunger Apps</a>
        <button class="hamburger" id="hamburger" aria-label="Button Navigation" href="#">☰</button>
        <nav class="nav-collapse hidden" id="nav">
            <ul>
                <li class="menu-item active"><a href="/" data-scroll>Home</a></li>
                <li class="menu-item"><a href="#" data-scroll>Favorite</a></li>
                <li class="menu-item"><a href="https://www.github.com/ardiwahyu" data-scroll>About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner"></div>
        <div class="text">
            <h1>FIND YOUR RESTAURANT HERE</h1>
        </div>
        <h2 id="main" class="explore-text">Explore Restaurant</h2>
        <div class="row" id="container-list"></div>
    </main>
    <footer>
        <div class="footer">
            <p>copyright © 2020 - Hunger Apps</p>
        </div>
    </footer>
</body>

</html>